.cell {
  padding: 10px;
}

.label {
  font-size: 9px;
  display: block;
}

.tr td {
  border-bottom: 1px solid;
}

.domain {
  display: inline-block;
  margin-right: 10px;
}
.domain:hover {
  background: lightgoldenrodyellow;
}

.clickable {
  cursor: pointer;
}
.unclickable {
  cursor: not-allowed;
}